#
# copyright (c) 2025 ZMK project contributors
# SPDX-license-identifier: MIT
#

config BOARD_MOD_MN_L
    bool "mod_mn_l"
    depends on SOC_NRF52833_QIAA

config BOARD_MOD_MN_R
    bool "mod_mn_r"
    depends on SOC_NRF52833_QIAA

config BOARD_MOD_FN_L
    bool "mod_fn_l"
    depends on SOC_NRF52833_QIAA

config BOARD_MOD_FN_R
    bool "mod_fn_r"
    depends on SOC_NRF52833_QIAA

config BOARD_MOD_NP
    bool "mod_np"
    depends on SOC_NRF52833_QIAA

config BOARD_MOD_XT
    bool "mod_xt"
    depends on SOC_NRF52833_QIAA

#config CAPS_LOCK_LED
#    bool "caps_lock_led"
#
#config NUMS_LOCK_LED
#    bool "num_lock_led"
#
#config SCROLL_LOCK_LED
#    bool "scroll_lock_led"