#
# copyright (c) 2025 ZMK project contributors
# SPDX-license-identifier: MIT
#

# identify MCU and board
CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52833_QIAA=y
CONFIG_BOARD_MOD_MN_L=y

# enable MPU
CONFIG_ARM_MPU=y

# enable writing to flash
CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_BUILD_OUTPUT_UF2=y
CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y

# enable 32kHz crystal
CONFIG_CLOCK_CONTROL_NRF_K32SRC_XTAL=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_30PPM=y

# GPIO
CONFIG_GPIO=y
CONFIG_PINCTRL=y

# encoder
CONFIG_EC11=y
CONFIG_EC11_TRIGGER_GLOBAL_THREAD=y

# CAPS LOCK (SK6812MINI-E RGB LED)
CONFIG_ZMK_RGB_UNDERGLOW=y
CONFIG_WS2812_STRIP=y

# enable SPI
CONFIG_SPI=y

# enable I2C
CONFIG_I2C=y
CONFIG_I2C_NRFX=y

# USB & BLE
CONFIG_ZMK_USB=y
CONFIG_ZMK_BLE=y

# battery reporting
CONFIG_BT_GATT_ENFORCE_SUBSCRIPTION=y
CONFIG_ZMK_BATTERY_REPORTING=y

# force battery reporting from peripherals splits to central split
CONFIG_ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING=y
CONFIG_ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY=y
CONFIG_ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_QUEUE_SIZE=1

# max number of peripheral splits connected to central split
CONFIG_ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS=5

# status indicator (standard RGB LED)
CONFIG_ZMK_HID_INDICATORS=y
CONFIG_LED=y
CONFIG_CAPS_LOCK_LED=y
CONFIG_ZMK_RGB_UNDERGLOW_EXT_POWER=n
CONFIG_RGBLED_WIDGET=y
CONFIG_RGBLED_WIDGET_BATTERY_LEVEL_LOW=10

# weak bond for better battery life on mn.l
CONFIG_ZMK_SPLIT_BLE_PREF_WEAK_BOND=y

# timer to suspend continuous scanning extra peripherals within 30 seconds once any peripheral is connected
CONFIG_ZMK_SPLIT_BLE_PREF_CONTINUOUS_SCAN_WINDOW=30000 

# # uncomment to enable USB logging & debugging
# CONFIG_ZMK_USB_LOGGING=y
# CONFIG_ZMK_LOG_LEVEL_DBG=y
# CONFIG_I2C_LOG_LEVEL_DBG=y