/*
 * copyright (c) 2025 ZMK project contributors
 *
 * SPDX-license-identifier: MIT
 */

#include "mod_.dtsi"
#include "spi.dtsi"
#include "leds.dtsi"

/ {
    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <1>;
        columns = <8>;

        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5) RC(0,6) RC(0,7)
        >;
    };
};

aliases {
    scroll_lock_led = &led0;
};